{% extends 'base.html.twig' %}

{% block title %}Edit Objekt{% endblock %}

{% block body %}
<div class="container">
    <h1>{{objekt.name}} bearbeiten</h1>

    {{ include('objekt/_form.html.twig', {'button_label': 'Update'}) }}

   
    </div>
{% endblock %}
