{% extends 'base.html.twig' %}

{% block title %}New Arbeitsbereiche{% endblock %}

{% block body %}
    <h1>Create new Arbeitsbereiche</h1>

    {{ include('arbeitsbereiche/_form.html.twig') }}

    <a href="{{ path('app_arbeitsbereiche_index') }}">back to list</a>
{% endblock %}
