{% extends 'base.html.twig' %}

{% block title %}New ItemCategories{% endblock %}

{% block body %}
    <h1>Create new ItemCategories</h1>

    {{ include('item_categories/_form.html.twig') }}

    <a class="btn w-100 btn-info" href="{{ path('app_item_categories_index') }}">back to list</a>
{% endblock %}
