
{% block body %}
<h1>Dienstpläne</h1>

    <table class="table">
        <thead>
            <tr>
              
                <th>Bezeichnung</th>
               
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dienstplan in dienstplans %}
            <tr>
                
                <td>{{ dienstplan.bezeichnung }}</td>
                
              
                <td>
                    <a href="{{ path('app_dienstplan_show', {'id': dienstplan.id}) }}">show</a>
                    <a href="{{ path('app_dienstplan_edit', {'id': dienstplan.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">keine Dienstpläne vorganden! <a class="toggle-edit " href="#">Dienstplan anlegen</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 <a class="toggle-edit btn-info btn" href="#">Dienstplan anlegen</a>
<div class="edit card p-3 mt-5">
    <h1>Dienstplan erstellen</h1>

    {{ include('dienstplan/_form.html.twig') }}

   
</div>
{% endblock %}
{% block javascripts %}
   
    <script>
        $(document).ready(function() {
            const dienstplan = document.getElementById('dienstplan');

            // Wähle alle fieldset-Elemente innerhalb des Elements 'dienstplan'
            const fieldsets = dienstplan.getElementsByTagName('fieldset');
            //alle fieldsets sollen ausgeblendet werden
            for (let i = 0; i < fieldsets.length; i++) {
                fieldsets[i].style.display = 'none';
            }
            $('.edit').toggle();
            $('.toggle-edit').click(function(e) {
                e.preventDefault();
                $('.edit').toggle();
            });
        });
    </script>
{% endblock %}