{% extends 'base.html.twig' %}

{% block title %}New RentItems{% endblock %}

{% block body %}
    <h1>Create new RentItems</h1>

    {{ include('rent_items/_form.html.twig') }}

    <a class="btn btn-info w-100" href="{{ path('app_rent_items_index') }}">back to list</a>
{% endblock %}
