{% extends 'base.html.twig' %}

{% block title %}edit user Role{% endblock %}

{% block body %}
  <h1>Edit User Role</h1>

    {{ form_start(form) }}
        {{ form_row(form) }}
        
    {{ form_end(form) }}
{% endblock %}

