{% extends 'public_base.html.twig' %}

{% block title %}Password Vergessen?{% endblock %}

{% block body %}
<div class='card p-3 m-5 '>
    <h1>Password Vergessen?</h1>
{{ form_start(form) }}
   {{ form_widget(form) }}
{{ form_end(form) }}
</div>
{% endblock %}

