{% extends 'base.html.twig' %}

{% block title %}Hello RegistrierungController!{% endblock %}

{% block body %}


{{ form_start(regform) }}
   {{ form_widget(regform) }}
    <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('Save') }}</button>
{{ form_end(regform) }}
{% endblock %}
